<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xofz.GoDaddyUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <xofz.GoDaddyUpdater.Properties.Settings>
            <setting name="PublicApiKey" serializeAs="String">
                <value>GoDaddy public API key here</value>
            </setting>
            <setting name="PrivateApiKey" serializeAs="String">
                <value>GoDaddy API secret here</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>Domain</value>
            </setting>
            <setting name="Subdomain" serializeAs="String">
                <value>Subdomain</value>
            </setting>
            <setting name="HttpExternalIpProviderUri" serializeAs="String">
                <value>http://icanhazip.com</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </xofz.GoDaddyUpdater.Properties.Settings>
    </applicationSettings>
</configuration>
